#filter-form {
  width: 300px;
  font-size: 20px;
  align-self: center;
  height: 30px;
  min-width: 100px;
  max-height: 50px;
  border-radius: 3px;
  margin-top: 10px;
}

::-webkit-input-placeholder {
   font-size: 20px;
}