.report {
  display: flex;
  color: #000;
  border-top-style: solid;
}

.report.active {
  background-color: #4CAF50;
  color: white;
}

.report:hover:not(.active) {
  background-color: #555;
  color: white;
}