// #detail-container {
//   flex-basis: 70%;
//   border-left: solid;
//   height: 100vh;
//   overflow: hidden;
//   overflow-y: auto;
//   border-left: solid #f2f2f2 2px;
// }

// #report-detail {
//   padding: 10px;
//   margin-bottom: 60px;
// }

#detail-container {
  -webkit-flex-basis: 70%;
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%;
  border-left: solid;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  border-left: solid #f2f2f2 2px;
}

#report-detail {
  padding: 10px;
  margin-bottom: 60px;
}