// html {
//     position: relative;
//     min-width: 1024px;
//     min-height: 768px;
//     height: 100%;
// }

body {
  // width: 1000px;
  // height: 800px;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
  // overflow-x: hidden;
  overflow-y: scroll;
}

#app {
  @import 'components/all';
  @import 'containers/all';
  // box-sizing:content-box;
  // background: gray;
  margin: 0;
  padding: 0;
  // position: fixed;
  // width: 100%;
    // overflow: hidden;
  // margin-bottom: 8%;
  // margin-right: 15%;
  // margin-left: 15%;
}

// div.mousescroll {
//     overflow: hidden;
// }
// div.mousescroll:hover {
//     overflow-y: scroll;
// }
