#inbox {
  // height: 100vh;
  width: 100vw;
  // max-height: 100%;
  // max-width: 100%;
  // margin-top: 60px;
  // background-color: gray;
  overflow: hidden;
}

#content {
  height: 90%;
  max-width: 100%;
  display: flex;
  position: fixed;

  overflow: hidden;
}

// #content {
//   background-color: red;
//   max-width: 100%;

//   // overflow: scroll;
//   // z-index: 1000;
// }
